ion-card-subtitle{
    margin-left: 20px;
}

ion-card-content{
    margin-left: 25px;
}

ion-card{
    width: 400px;
}

ion-card-header{
    display: flex;
    justify-content: flex-end; 
}

ion-avatar{
    margin-left: 10px;
}

ion-card-title{
    margin-left: 10px;
}

