<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
 <div id="card-container">

  <app-personal-card id = "item" name = "Cesar Julio" surname = "Martin Gonzalez" age="25"></app-personal-card>
  <app-personal-card name = "pepe julio" surname = "Martin Gonzalez" age="23"></app-personal-card>
  <app-personal-card name = "Maria Julio" surname = "Martin Gonzalez" age="26"></app-personal-card>
  <app-personal-card name = "javi Julio" surname = "Martin Gonzalez" age="24"></app-personal-card>

 </div>
</ion-content>
